@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

* {
  font-size: 14px;
  box-sizing: border-box;
}

#header {
  border-bottom: 1px solid #d1cece;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  font-family: 'Nanum Brush Script', cursive;
  font-weight: 700;
  font-size: 2.7rem;
  text-align: center;
}

#menu {
  display: flex;
  width: 280px;
  justify-content: space-between;
}

#header_container {
  width:800px;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  padding: 5px;
}

#body {
  background-color: #f4f4f4;
  padding: 70px 0 10px 0;
}

#search {
  background-color: #e7e4e4;
  margin-top: 5px;
  width: 250px;
  height: 36px;
  border-radius: 5px;
}

.icon {
  width: 25px;
  height: 25px;
  background-size: cover;
  margin-top: 10px;
}

#story_container {
  width: 600px;
  height: 120px;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #d1cece;
  border-radius: 3px;
  display: flex;
}

.story {
  width: 64px;
  height: 64px;
  border: 1px solid #d1cece;
  border-radius: 100%;
  margin: 20px 0 0 20px;
}

.story_image {
  width: 58px;
  height: 58px;
  background-color: beige;
  border-radius: 100%;
  margin: 3px;
}

.story_user {
  color: #a5a1a1;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post{
  width: 600px;
  background-color: #fff;
  margin: 20px auto;
  border: 1px solid #d1cece;
  border-radius: 3px;
}

.post_header {
  display: flex;
  padding: 15px;
}

.post_user_image {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: beige;
  margin-right: 15px;
}

.post_user {
  font-weight: 700;
}

.post_location {
  color: #a5a1a1;
  font-size: 0.9rem;
  margin-top: 2px;
}

.post_option {
  width: 30px;
  height: 30px;
  position: relative;
  left: 430px;
  bottom: 2px;
  background-size: cover;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d9/Simple_icon_ellipsis.svg');
}

.post_image {
  width:600px;
}

.post_menu {
  display: flex;
  padding: 0 10px;
}

.post_icon {
  margin-left: 10px;
}

.bold {
  font-weight: 700;
}

.post_like {
  margin-left: 20px;
  display: flex;
  margin-top: 10px;
}

.post_content {
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
}

.comment {
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 548px;
}

.comment_like {
  width: 12px;
  height: 12px;
  background-size: cover;
  background-image: url('../../public/icons/heart-2.png');
}

.comment_container {
  margin-bottom: 8px;
}

.post_date {
  color: #a5a1a1;
  font-size: 0.7rem;
  margin-left: 20px;
  margin-bottom: 10px;
}

.comment_write_container {
  border-top: 1px solid #d1cece;
  display: flex;
  padding: 10px 30px 10px 20px;
  justify-content: space-between;
}

.comment_input {
  width:480px;
  color: #a5a1a1;
  line-height: 23px;
}

.comment_button {
  color: #3918f4;
  line-height: 23px;
  font-weight: 700;
}